header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.scroll-down {
  margin-top: -56px;
}
.scroll-up {
  margin-top: 0px;
}
.first-nav,
.seconde-nav {
  transition: all 500ms ease-in-out;
}
